@import "tailwindcss";

@font-face {
  font-family:"SHK_Dzeragir" ;
  src: url('/font/SHK_Dzeragir.woff2');
}
.FontSHK_Dzeragir{
  font-family: "SHK_Dzeragir";
  
}

@font-face {
  font-family:"BabylonicaRegular" ;
  src: url('/font/Babylonica-Regular.ttf');
}
.FontBabylonicaRegular{
  font-family: "BabylonicaRegular";
  
}

@font-face {
  font-family:"Xarrovv" ;
  src: url('/font/Xarrovv.otf');
}
.FontXarrovv{
  font-family: "Xarrovv";
  
}


@font-face {
  font-family:"ArTarumianBarakU" ;
  src: url('/font/ArTarumianBarakU-Regular.ttf');
}


.FontArTarumianBarakU{
  font-family: "ArTarumianBarakU";
  
}

@font-face {
  font-family:"BraindDoctor" ;
  src: url('/font/BraindDoctor.otf');
}


.FontBraindDoctor{
  font-family: "BraindDoctor";
  
}
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}
.animate-marquee-2 {
  animation: marquee2 20s linear infinite;
}

.text-sovorakan{
  color: #000000;
}
.text-vrayi {
  color: #000000;
}
.text-taki {
  color: #00000013 ;
}
.bg-guyn {
  background: #000000;
}
.border-guyn {
  border-color: #000000;
}

.bgC {
  background: #ddc4b7;
}


/* ....................CRAR................ */

.triangleB {
  clip-path: polygon(0 0, 0 100%, 100% 0);
  rotate: 45deg;
}

.triangleT {
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
  rotate: 45deg;
}
.triangleR {
  clip-path: polygon(100% 100%, 0 0, 0 100%);
  rotate: 45deg;
}
.triangleL {
  clip-path: polygon(100% 100%, 0 0, 100% 0);
  rotate: 45deg;
}
@media (max-width: 768px) {
  @keyframes bounceYB {
    0% {
      bottom: -45%;
    }
    100% {
      bottom: -150%;
      display: none;
    }
  }
  .animate-bounceYB {
    animation: bounceYB 2s ease forwards;
  }

  @keyframes bounceYT {
    0% {
      tom: -50%;
    }
    100% {
      top: -180%;
      display: none;
    }
  }
  .animate-bounceYT {
    animation: bounceYT 2s ease forwards;
  }

  @keyframes bounceXR {
    0% {
      left: 80%;
    }
    100% {
      left: 200%;
      display: none;
    }
  }
  .animate-bounceXR {
    animation: bounceXR 2s ease forwards;
  }

  @keyframes bounceXL {
    0% {
      right: 80%;
    }
    100% {
      right: 200%;
      display: none;
    }
  }

  .animate-bounceXL {
    animation: bounceXL 2s ease forwards;
  }
}
